@mixin sorting {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.sub-header {
    margin: 25px auto;

    #page-title {
        font-size:36px;
    }

    .actions {
      vertical-align: middle;
      line-height: 54px;
    }
}

.sortable {
    cursor: pointer;
}

.active {
    .up {
        @include sorting;
        border-bottom: 5px solid black;
    }

    .down {
        @include sorting;
        border-top: 5px solid black;
    }
}

table {
    button[name=remove-device] {
        padding: 0 15px;
    }
}

.empty-list {
    padding: 0px;
    margin-top: 100px;

    &::before {
        content: '';
        display: block;
        background: url('./assets/empty-sensors-list.png') no-repeat;
        background-size: 150px;
        background-position: calc(100%/2);
        height: 150px;
        margin: 0 6px 0 0;
    }

    .text {
        h3 {
            font-family:Roboto-Regular;
            font-size:24px;
            text-align:center;
        }

        h4 {
            font-family:Roboto-Regular;
            font-size:15px;
            text-align:center;
        }
    }
}
