.device {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #fff;
    background: #30d16a;
    color: #fff;
    position: absolute;
    cursor: move;

    &__description {
        margin-left: 6px;
        font-weight: bold;
    }
}
