<div [dragula]="'sh-constructor-devices'">
    <div class="device"
         #devices
         *ngFor="let device of sensors">
        <div class="device__icon"
             [style.background-image]="'url(assets/' + device.mqttId + '.svg)'">
        </div>
        <div *ngIf="device.type === 'switcher'"
             (click)="switchSensor(device)">
            <div class="device__switcher"
                 [style.background-image]="switcherImageUrl(device)">
            </div>
        </div>
    </div>
</div>
