<div class="row">
    <div class="input-field col s6">
        <label for="scenario-wizard__name">Scenario Name <b class="red-text">*</b></label>
        <input id="scenario-wizard__name" type="text" required
               class="scenario-name"
               placeholder="Enter descriptive scenario name"
               [(ngModel)]="scenario.name"
               #scenarioName="ngModel"/>
        <div [hidden]="!scenarioName.touched || scenarioName.valid" class="validation-alert">
            Scenario name should be filled
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <h5>
            If
            <select name="logicalOperator"
                    class="operators-select"
                    [(ngModel)]="scenario.wizard.logicalOperator">
                <option *ngFor="let operator of LOGICAL_OPERATORS"
                        [value]="operator.id">{{operator.name}}
                </option>
            </select>
            of the conditions are true
        </h5>

    </div>
</div>
<div class="row gray-bg" *ngFor="let condition of scenario.wizard.conditions; let i=index">
    <div class="col s3">
        <label [attr.for]="'scenario-wizard__device'+i">Device <b class="red-text">*</b></label>
        <select id="scenario-wizard__device{{i}}" required name="deviceSelect"
                [(ngModel)]="condition.selectedDevice">
            <option [value]="undefined" disabled>Choose trigger</option>
            <option *ngFor="let device of condition.devices"
                    [value]="device.mqttId">{{device.description}}
            </option>
        </select>
    </div>
    <div class="col s4">
        <label [attr.for]="'scenario-wizard__condition'+i">Condition <b class="red-text">*</b></label>
        <select id="scenario-wizard__condition{{i}}" required name="conditionSelect"
                [(ngModel)]="condition.selectedCondition">
            <option [value]="undefined" disabled>Choose condition</option>
            <option *ngFor="let condition of condition.conditions" [value]="condition.id">{{condition.name}}</option>
        </select>
    </div>
    <div class="col s3">
        <label [attr.for]="'scenario-wizard__value'+i">Value <b class="red-text">*</b></label>
        <input id="scenario-wizard__value{{i}}"
               type="number"
               required
               #conditionValue="ngModel"
               [(ngModel)]="condition.value"
               placeholder="Enter value"/>
        <div class="validation-alert" [hidden]="!conditionValue.touched || conditionValue.valid">
            Field format is incorrect
        </div>
    </div>
    <div class="col s1 remove-wrapper"
         *ngIf="scenario.wizard.conditions.length>1">
        <div class="icon-wrapper">
            <i class="material-icons center"
               (click)="removeCriteria(i)"
            >delete</i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <a (click)="addCriteria()">+ ADD CRITERIA</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <h5>Then do the following</h5>
    </div>
</div>
<div class="row gray-bg" *ngFor="let action of scenario.wizard.actions; let i=index;">
    <div class="col s3">
        <label [attr.for]="'scenario-wizard__device'+i">Device</label>
        <select id="scenario-wizard__device{{i}}" [(ngModel)]="action.selectedDevice">
            <option [value]="undefined">Choose device</option>
            <option *ngFor="let device of action.devices"
                    [value]="device.mqttId">{{device.description}}
            </option>
        </select>
    </div>
    <div class="col s3">
        <label [attr.for]="'scenario-wizard__value'+i">Value</label>
        <select id="scenario-wizard__value{{i}}" name="actionValue"
                [(ngModel)]="action.value">
            <option *ngFor="let value of action.values"
                    [value]="value.id">{{value.name}}
            </option>
        </select>
    </div>
    <div class="col s1 remove-wrapper"
         *ngIf="removeActionBtnVisible()">
        <div class="icon-wrapper">
            <i (click)="removeAction(i)" class="material-icons center">delete</i>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <a (click)="addAction()">+ ADD ACTION</a>
    </div>
</div>
