<div class="row">
    <div class="col m3"></div>
    <div class="col m6 section">
        <h2>Registration</h2><br />
        <div class="red-text text-darken-4">{{error}}</div>
        <form class="registration" (ngSubmit)="save()" #regForm="ngForm" novalidate>
            <label class="registration__label">
                Username: <b class="red-text">*</b>
                <input [(ngModel)]="user.name"
                       name="name"
                       #name="ngModel"
                       class="registration__field black-text"
                       type="text"
                       required
                       minlength="5"
                       maxlength="12"
                       pattern="^[a-zA-Z0-9]*$"
                />
                <div *ngIf="name.touched && name.errors" class="red-text text-darken-4">
                    <span *ngIf="name.errors.required">Username should be filled</span>
                    <span *ngIf="name.errors.minlength">Username is too short</span>
                    <span *ngIf="name.errors.maxlength">Username is too long</span>
                    <span *ngIf="name.errors.pattern">Username can contain only letters or digits</span>
                </div>
            </label>

            <label class="registration__label">
                Email: <b class="red-text">*</b>
                       <!-- regexp for email need to be updated -->
                <input [(ngModel)]="user.email"
                       name="email"
                       #email="ngModel"
                       class="registration__field black-text"
                       type="text"
                       pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                       maxlength="63"
                       required
                />
                <div *ngIf="email.touched && email.errors" class="red-text text-darken-4">
                    <span *ngIf="email.errors.required">Email should be filled</span>
                    <span *ngIf="email.errors.pattern">Email has an invalid format</span>
                </div>
            </label>

            <label class="registration__label">
                Password: <b class="red-text">*</b>
                <input [(ngModel)]="user.password"
                       name="password"
                       #password="ngModel"
                       class="registration__field black-text"
                       type="password"
                       minlength="8"
                       required
                />
                <div *ngIf="password.touched && password.errors" class="red-text text-darken-4">
                    <span *ngIf="password.errors.required">Password should be filled</span>
                    <span *ngIf="password.errors.minlength">Password must have at least 8 characters</span>
                </div>
            </label>

            <label class="registration__label">
                Password confirmation: <b class="red-text">*</b>
                <input [(ngModel)]="user.passwordConfirm"
                       name="passwordConfirm"
                       #passwordConfirm="ngModel"
                       equalTo="password"
                       class="registration__field black-text"
                       type="password"
                       required
                />
                  <div *ngIf="passwordConfirm.touched && passwordConfirm.errors" class="red-text text-darken-4">
                    <span *ngIf="passwordConfirm.errors.required" >Password confirmation should be filled</span>
                    <span *ngIf="passwordConfirm.errors.equalTo">Value entered in Confirm password field is not correct</span>
                </div>
            </label>

            <button class="registration__button waves-effect waves-light btn blue-grey darken-1" type="submit"
                    [disabled]="!regForm.form.valid">SUBMIT</button>
        </form>
    </div>
</div>
