$value-color: #f3ac2e;

.sensor-widget {
    background:#5a6d7b;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.50);
    border-radius:2px;
    width:160px;
    height:160px;
    float: left;
    margin-right: 13px;
    margin-bottom: 13px;
    position: relative;
    font-family:Roboto;
    font-weight: 300;

    &_value {
        color: $value-color;
        text-align: center;
        padding-top: 32px;
        font-size:48px;
        font-weight: 100;
    }

    &_description {
        text-align:center;
        font-size:15px;
        color:#ffffff;
        max-width: 82px;
        margin: 0 auto;
        font-weight: 100;
    }

    &__metrics {
        color: #9e9e9e;
        position: absolute;
        right: 18px;
        top: 10px;
        font-size: 18px;
    }

    &_button {
        float: left;
    }
}
