<header>
    <nav class="main-nav">
        <div class="container">
            <a class="logo"
               [routerLink]="[mainPageRoute.name]"
               [style.background-image]="'url(' + mainPageRoute.iconImage + ')'">Smart House</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li *ngFor="let route of navigationRoutes">
                    <a [routerLink]="[route.path]"
                          [style.background-image]="'url(' + route.iconImage + ')'">{{route.headerName}}</a>
                </li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-large-only">
                <li *ngFor="let route of navigationRoutes">
                    <a [routerLink]="[route.path]" class = "mobile-menu-link"
                          [style.background-image]="'url(' + route.iconImage + ')'">&nbsp;</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
