<header>
    <nav class="main-nav">
        <div class="container">
            <a [routerLink]="[mainPageRoute.name]"
                class="logo"
                [style.background-image]="'url(' + mainPageRoute.iconImage + ')'">Smart House</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li *ngFor="#route of navigationRoutes">
                    <a [routerLink]="[route.name]"
                       [class.router-active]="initialRouteActivated(route)"
                       [style.background-image]="'url(' + route.iconImage + ')'">{{route.headerName}}</a>
                 </li>
            </ul>
        </div>
    </nav>
</header>
