<div class="sensor-widget">
    <div class="sensor-widget_header">
        <div class="sensor-widget_button-statistics"
             [routerLink]="['../statistic/sensor-details', device.mqttId, 'day', device.type]">
        </div>
        <div class="sensor-widget_header_info">
            <span>{{device.description}}</span>
        </div>
        <button class="sensor-widget_button-close"
                *ngIf="isEditMode"
                (click)="removeWidget()">
        </button>
    </div>
    <div>
        <sh-sensor-widget
            [device]="device"
            *ngIf="!device.executor && !device.servo">
        </sh-sensor-widget>
        <sh-switcher-widget
            [device]="device"
            *ngIf="device.executor">
        </sh-switcher-widget>
        <sh-servo-widget
            [device]="device"
            *ngIf="device.servo">
        </sh-servo-widget>
    </div>
</div>
