Device list:
<table>
    <thead>
    <th [ngClass]="{active: isActive('number')}" (click) = "setSortBy('number')">
        Number<div [ngClass]="{up: reverse, down: !reverse}"></div></th>
    <th [ngClass]="{active: isActive('status')}"  (click) = "setSortBy('status')">Status
        <div [ngClass]="{up: reverse, down: !reverse}"></div></th>
    <th>Type</th>
    <th>Description</th>
    </thead>
    <tbody>
    <tr *ngFor="#item of deviceList">
        <td>{{item.number}}</td>
        <td>{{item.status}}</td>
        <td>{{item.type}}</td>
        <td>{{item.description}}</td>
    </tr>
    </tbody>
</table>


