$blockHeight: 75px;
$fontSize: 20px;

.sensor-status-widget {
    
    &_value {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px auto;
        width: 75px;
        height: $blockHeight;
        background: #f3ac2e;
        border-radius: 50%;
        
        &-label {
            height: $blockHeight;
            color: white;
            font-size: $fontSize;
            line-height: $fontSize;
        }
    }
    
}
