<p class="title">Constructor / Dashboard view</p>

<div class="heading">
    <span>Step 4: Add widgets</span>

    <sh-options
        [id]="'dashboardSubview'"
        [(isActive)]="isActive"
        [canBeActive]="canBeActive"
        [(defaultSubview)]="defaultSubview"
    ></sh-options>
</div>

<div class="dashboard-view">
    <div class="dashboard-view__centered" *ngIf="!selectedDevices?.length">
        <span>Please add your widgets</span>
    </div>
    <div class="dashboard-view__ordered" *ngIf="selectedDevices?.length">
        <sh-sensor-widget
                *ngFor="let device of selectedDevices"
                [device]="device"
                (onRemoveWidget)="onRemoveSelectedDevice($event)">
        </sh-sensor-widget>
    </div>
</div>

<div class="dashboard-buttons">
    <button class="button button_cancel" [routerLink]="['']">Cancel</button>
    <button class="button button_success" (click)="onSubmit()">Save</button>
</div>

<div class="step">
    <span>Step 5: Add widgets on dashboard</span>
</div>

<sh-sensors-list
        [mappedSensors]="selectedDevices"
        (onAddSensor)="onAddDevice($event)"
        (onRemoveSensor)="onRemoveDevice($event)">
</sh-sensors-list>
