<p class="title">Constructor / Dashboard view</p>

<div class="heading">
    <span>Step 4: Add widgets</span>

    <sh-options
        [id]="'dashboardSubview'"
        [(isActive)]="isActive"
        [canBeActive]="canBeActive"
        [(defaultSubview)]="defaultSubview"
    ></sh-options>
</div>

<div class="dashboard-view">
    <div [ngClass]="{'dashboard-view__centered': !selectedDevices?.length, 'dashboard-view__ordered': selectedDevices?.length}">
        <span *ngIf="!selectedDevices?.length">
            Please add your widgets
        </span>

        <sh-sensor-widget
                *ngFor="let device of selectedDevices"
                [device]="device"
                (onRemoveWidget)="onRemoveSelectedDevice($event)">
        </sh-sensor-widget>
    </div>
</div>

<div class="dashboard-buttons">
    <button class="button button_cancel" [routerLink]="['../']">Cancel</button>
    <button class="button button_success" (click)="onSubmit()">Save</button>
</div>

<div class="step">
    <span>Step 5: Add widgets on dashboard</span>
</div>

<sh-sensors-list
        [mappedSensors]="selectedDevices"
        (onAddSensor)="onAddDevice($event)"
        (onRemoveSensor)="onRemoveDevice($event)">
</sh-sensors-list>
