<div class="sub-header row">
  <div id="page-title" class="col s5 sub-header__title">Devices</div>
  <div class="sub-header__actions col s3 right">
    <button [routerLink]="['/devices-create']"
        class="waves-effect waves-light btn blue-grey darken-1">Add new device</button>
  </div><!-- sub-header__actions -->
</div><!-- sub-header -->

<div *ngIf="deviceList.length === 0" class="empty-list">
    <div class="container empty-list__container">
        <div class="empty-list__container__text">
            <h3 class="empty-list__container__text__main">There are no devices yet</h3>
            <h4 class="empty-list__container__text__additional">Once you connect your device to the system, it will be listed here.</h4>
        </div><!-- empty-list__container__text -->
    </div><!-- empty-list__container -->
</div><!-- empty-list -->

<div *ngIf="deviceList.length !== 0" class="sensors-list">
    <table class="highlight responsive-table sensors-list-table">
        <thead class="sensors-list-table__head">
            <th *ngFor="let header of headers"
                (click)="setSortBy(header.topic)"
                class="sensors-list-table__head__item"
                [class.active]="isActive(header.topic)"
                [class.sortable]="header.sortable">
                {{ header.name }}
                <div [class]="reverse ? 'up' : 'down'"></div>
            </th><!-- sensors-list-table__head__item -->
        </thead><!-- sensors-list-table__head -->
        <tbody class="sensors-list-table__body">
            <tr *ngFor="let item of deviceList"
                [routerLink]="['/devices', item._id]"
                class="sensors-list-table__body__row">
                <td *ngFor="let header of headers"
                    class="sensors-list-table__body__row__item">
                    {{item[header.topic]}}
                </td><!-- sensors-list-table__body__row__item -->
                <td class="sensors-list-table__body__row__actions">
                    <button (click)="removeSensor(item); $event.stopPropagation()"
                            class="waves-effect waves-light btn sensors-list-table__body__row__actions__remove"
                            name="remove-device"
                            type="remove">
                        <i class="material-icons sensors-list-table__body__row__actions__remove__icon">delete</i>
                    </button><!-- sensors-list-table__body__row__actions__remove -->
                </td><!-- sensors-list-table__body__row__actions -->
            </tr><!-- sensors-list-table__body__row -->
        </tbody><!-- sensors-list-table__body -->
    </table><!-- sensors-list-table -->
</div><!-- sensors-list -->
