<div class="constructor">
    <h2 class="title">Constructor / Map view</h2>

    <section>

        <h4 class="heading">Step 1: Name your view</h4>

        <div>
            <div class="input-group">
                <label class="input-group__label" for="name">Name</label>
                <input class="input-group__input"
                       type="text"
                       id="name"
                       placeholder="Enter name"
                       [(ngModel)]="name"
                       name="mapViewName"
                       required>
            </div>

            <div class="input-group">
                <label class="input-group__label" for="description">Description</label>
                <input class="input-group__input"
                       type="text"
                       id="description"
                       placeholder="Enter description"
                       [(ngModel)]="description"
                       name="mapViewDescription"
                       required>
            </div>
        </div>

    </section>

    <section>
        <div class="heading">
            <span>Step 2: Add picture</span>

            <sh-options
                [id]="'Map'"
                [(isActive)]="isActive"
                [(isDefault)]="isDefault"
                [canBeActive]="canBeActive"
            ></sh-options>
        </div>

        <input #fileInput
               type="file"
               name="mapViewPicture"
               accept="image/*"
               style="display: none;"
               ng2FileSelect
               [uploader]="uploader"/>

        <div class="picture picture_blank"
             *ngIf="!picture"
             [ngClass]="{'picture_file-over': hasBaseDropZoneOver}"
             ng2FileDrop
             (fileOver)="fileOverBase($event)"
             (click)="onUploadClick()"
             [uploader]="uploader">
            <div class="add-picture">
                <div class="add-picture__icon"></div>
                <p class="add-picture__title">Please add your picture</p>
            </div>
        </div>

        <div class="picture"
             *ngIf="picture">

            <img class="picture__image"
                 [src]="picture"
                 alt="your image"/>

            <sh-constructor-devices
                [edittedDevices]="edittedDevices"
                class="constructor-devices"
                (onMappedSensor)="onMappedSensors($event)">
            </sh-constructor-devices>
        </div>

    </section>


    <div class="controls">

        <button class="button button_cancel"
                type="button"
                [routerLink]="['../']">
            Cancel
        </button>

        <button class="button button_retry"
                type="button"
                (click)="onUploadClick()"
                [disabled]="isReUploadDisabled">
            Reupload
        </button>

        <button class="button button_success"
                type="button"
                (click)="onSubmit()">
            Save
        </button>

    </div>

    <section>
        <h4 class="heading">Step 3: Add devices on the map</h4>

        <sh-sensors-list
            [mappedSensors]="mappedSensors"
            (onAddSensor)="onAddSensor($event)"
            (onRemoveSensor)="onRemoveSensor($event)">
        </sh-sensors-list>
    </section>
</div>
