@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color:#000;
}

label {
    font-size:13px;
    color:#9e9e9e;
}

h1 {
    font-weight: 300;
    font-size:36px;
    margin: 0;
}

.container {
    padding: 20px 0;
}

.page-header {
    padding: 10px 0 20px;

    .nav-link {
        i.material-icons {
            display: block;
            text-align: center;
        }
    }
}

.back-link {
    i.material-icons {
        font-size: 15px;
        margin-top: 3px;
        vertical-align: top;
    }
}

.empty-list {
    padding: 0px;
    margin-top: 100px;

    &::before {
        content: '';
        display: block;
        background-size: 150px;
        background-repeat: no-repeat;
        background-position: calc(100%/2);
        height: 150px;
        margin: 0 6px 0 0;
    }

    .text {
        h3 {
            font-family:Roboto-Regular;
            font-size:24px;
            text-align:center;
        }

        h4 {
            font-family:Roboto-Regular;
            font-size:15px;
            text-align:center;
        }
    }
}

a {
    cursor: pointer;
}
