<header>
    <nav class="main-nav">
        <div class="container">
            <a class="logo"
               [routerLink]="[mainPageRoute.path]"
               [style.background-image]="'url(' + mainPageRoute.iconImage + ')'">Smart House</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li *ngFor="let route of navigationRoutes">
                    <a (click)="menuItemClick(route)"
                          [style.background-image]="'url(' + route.iconImage + ')'">{{route.headerName}}</a>
                </li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-large-only">
                <li *ngFor="let route of navigationRoutes">
                    <a (click)="menuItemClick(route)" class = "mobile-menu-link"
                          [style.background-image]="'url(' + route.iconImage + ')'">&nbsp;</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>        
    </nav>
</header>
