@mixin bg-icon($left-padding) {
  background-position: $left-padding center;
  background-repeat: no-repeat;
}

.main-nav {
    background: #ffffff;
    min-height: 56px;
    height: auto;
    margin-bottom: 15px;

    .container {
        padding: 0;
    }

    li a {
        font-size: 18px;
        color: #000000;
        padding: 0 20px 0 45px;
        @include bg-icon(20px);
    }


    .mobile-menu-link {
        background-size: 30px 30px;
        background-repeat: no-repeat;
    }
}

#nav-mobile .router-link-active {
    border-bottom: 6px solid #546e7a;
}

.logo {
    font-size:20px;
    color:#000000;
    font-weight: 900;
    padding: 10px 0px 10px 40px;
    @include bg-icon(10px);
    background-position: 0px center;
}
