@mixin bg-icon($left-padding) {
  background-position: $left-padding center;
  background-repeat: no-repeat;
}

.main-nav {
    background: #393b3a;
    min-height: 56px;
    height: auto;
    line-height: 1;
    margin-bottom: 15px;

    .container {
        padding: 0;
    }

    li a {
        border-bottom: 3px solid transparent;
        font-size: 16px;
        line-height: 47px;
        padding: 0 13px;

        &.active {
            border-bottom-color: #a2c844;
        }
    }


    .mobile-menu-link {
        background-size: 30px 30px;
        background-repeat: no-repeat;
    }
}

.logo {
    @include bg-icon(10px);

    background-position: 0 center;
    font: 700 21px 'Oswald', sans-serif;
    float: left;
    line-height: 50px;
    padding: 0 23px;
}
