<header>
    <nav class="main-nav">
        <div class="container">
            <a class="logo"
               [routerLink]="[mainPageRoute.path]"
               [style.background-image]="'url(' + mainPageRoute.iconImage + ')'">Smart House</a>

            <ul id="nav-mobile" class="left">
                <li>
                    <a [routerLink]="[mainPageRoute.path]"
                       [routerLinkActive]="['active']"
                       [routerLinkActiveOptions]="{ exact: true }">
                        {{mainPageRoute.name}}
                    </a>
                </li>

                <li *ngFor="let route of navigationRoutes">
                    <div *ngIf="route.hasOwnProperty('isAuthorized')">
                        <sh-protected [isAuthorized]="route.isAuthorized">
                            <a [routerLink]="[route.path]" [routerLinkActive]="['active']">
                                {{route.name}}
                            </a>
                        </sh-protected>
                    </div>
                    <div *ngIf="!route.hasOwnProperty('isAuthorized')">
                        <a [routerLink]="[route.path]" [routerLinkActive]="['active']">
                            {{route.name}}
                        </a>
                    </div>
                </li>
            </ul>

            <sh-user></sh-user>

            <div class="clearfix"></div>
        </div>
    </nav>
</header>
