.sub-header {

    &__actions {
        vertical-align: middle;
        line-height: 54px;

        &__create {
            width: 250px;
        }
    }
}

.empty-list {
    &__container {
        padding: 0px;        

        &::before {
            content: '';
            display: block;
            background: url('./assets/empty-scenarios-list.png') no-repeat;
            background-size: 150px;
            background-position: calc(100% / 2);
            height: 150px;
            margin: 0 6px 0 0;
        }

        &__text {
            &__main {
                font-family: Roboto-Regular;
                font-size: 24px;
                text-align: center;
            }

            &__additional {
                font-family: Roboto-Regular;
                font-size: 15px;
                text-align: center;
            }
        }
    }
}

.scenario-list-table {
    &__body {
        &__row {
            cursor: pointer;
            &__actions {
                width: 150px;

                &__remove {
                    padding: 0 15px;
                }
                &__toggle-state {
                    padding: 0 15px;
                }
            }

            .status {
                span {
                    padding: 5px;
                    border-radius: 2px;
                    &.paused {
                        background: #ffa726;
                    }
                    &.active {
                        background: #26a69a;
                    }
                }
            }
        }
    }
}
