<div class="sensors-list">
    <div class="sensors-list__item row" *ngFor="let sensor of sensors">
        <span class="col s2 sensors-list__title">{{sensor.mqttId}}</span>
        <span class="col s2">{{sensor.description}}</span>
        <span class="col s2">position</span>
        <span class="col s1 offset-s5 sensors-list__actions" (click)="addSensor(sensor)" *ngIf="!isSensorOnView(sensor)">+</span>
        <span class="col s1 offset-s5 sensors-list__actions" (click)="removeSensor(sensor)" *ngIf="isSensorOnView(sensor)">-</span>
    </div>
</div>
