.options {
    &__checkbox, &__radio {
        height: 15px;
    }

    &__label.checkbox-label, &__label.radio-label {
        padding-left: 25px;
        margin-right: 10px;
    }

    .checkbox-label {
        vertical-align: middle;
    }
}
