<div class="dashboard-view">
    <div [ngClass]="{'dashboard-view__centered': !widgets?.length, 'dashboard-view__ordered': widgets?.length}">
        <span *ngIf="!widgets?.length">
            Please add your widgets
        </span>

        <sh-sensor-widget
                *ngFor="let widget of widgets"
                [device]="widget"
                (onRemoveWidget)="removeWidget($event)">
        </sh-sensor-widget>
    </div>
</div>

<div class="dashboard-buttons">
    <button class="button button_cancel" (click)="cancel()">Cancel</button>
    <button class="button button_success" (click)="save()">Save</button>
</div>

