<div class="dashboard">
    <div class="dashboard_title">
        <h2>Dashboard</h2>
    </div>

    <div class="dashboard_content">
        <div *ngIf="isDashboardEmpty()">
            <div class="container empty-list">
                <div class="text">
                    <h3>There are no devices yet</h3>
                    <h4>Once you connect your device to the system, it will be listed here.</h4>
                </div>
            </div>
        </div>

        <sm-sensor-widget *ngFor="#device of sensors"
            [device]="device">
        </sm-sensor-widget>
        <div *ngFor="#device of executors">
            <sm-sensor-executor-widget
                [device]="device">
            </sm-sensor-executor-widget>
            <sm-sensor-status-widget
                [device]="device">
            </sm-sensor-status-widget>
        </div>
    </div>
</div>
