<div class="chart-block">
    <div class="switcher-chart clearfix" *ngIf="isSwitcherWidgetVisible()">
        <h3 class="switcher-chart__header">Device statistics</h3>
        <div class="switcher-chart-holder">
            <div class="switcher-chart__filter switcher-chart__filter_calendar">
                <sh-calendar (rangeChanged)="dateRangeChanged($event)"></sh-calendar>
            </div>
            <sh-switcher-statistic-pie-chart
                [deviceStatistic]="pieChartStatistic">
            </sh-switcher-statistic-pie-chart>
        </div>
        <div class="switcher-chart-holder">
            <div class="clearfix switcher-chart__filter switcher-chart__filter_periods">
                <a class="btn-flat btn-flat_action"
                   *ngFor="let period of periods"
                   [routerLink]="['../../../sensor-details', sensorId, period]"
                   [routerLinkActive]="'btn_active'"
                >{{period}}</a>
            </div>
            <sh-switcher-statistic-column-chart
                [deviceStatistic]="deviceStatistic">
            </sh-switcher-statistic-column-chart>
        </div>
    </div>
    <sh-chart-widget *ngIf="isChartWidgetVisible()"
        [deviceStatistic]="deviceStatistic">
    </sh-chart-widget>
</div>

<div class="clearfix statistic_actions" *ngIf="isChartWidgetVisible()">
    <a class="btn-flat btn-flat_statistic"
       *ngFor="let period of periods"
       [routerLink]="['../../../sensor-details', sensorId, period]"
       [routerLinkActive]="'btn_active'"
    >{{period}}</a>
</div>
