<div class="chart-holder">
    <sh-servo-statistic-column-chart *ngIf="sensorId === 'servo'"
        [deviceStatistic]="deviceStatistic">
    </sh-servo-statistic-column-chart>
    <sh-chart-widget *ngIf="sensorId !== 'servo'"
        [deviceStatistic]="deviceStatistic">
    </sh-chart-widget>
</div>

<div class="clearfix statistic_actions">
    <a class="btn-flat btn-flat_statistic"
       *ngFor="let period of periods"
       [routerLink]="['../../../sensor-details', sensorId, period]"
       [routerLinkActive]="'btn_active'"
    >{{period}}</a>
</div>
