.map-subview {
    width: 100%;
    height: 370px;
    padding: 0 60px;
    background-color: #f9f9f9;

    &__devices {
        position: absolute;
        top: 0;
        left: 0;
        width: 1280px;
        height: 370px;
    }

    &__picture {
        position: relative;
        height: 370px;
        background-color: #f9f9f9;
    }

    &__image {
        position: absolute;
        max-width: 1280px;
        height: 100%;
    }
}

.sensor {
    width: 42px;
    height: 42px;
    position: absolute;

    &__description {
        width: 42px;
        height: 42px;
    }

    &__switcher {
        position: absolute;
        left: 42px;
        top: 0;
        width: 42px;
        height: 42px;
        cursor: pointer;
    }
}
