<div class="map-subview">
    <div class="map-subview__picture"
         *ngIf="mapSubview?.pictureName">

        <img class="map-subview__image"
             [src]="getImage()"
             alt="your image"/>

        <div class="map-subview__devices">
            <div class="sensor"
                 *ngFor="let sensor of mapSubview?.sensors"
                 [ngStyle]="{'left': sensor.position.x + 'px', 'top': sensor.position.y + 'px'}">
                <div class="sensor__description"
                     [style.background-image]="'url(assets/' + sensor?.sensor?.mqttId + '.svg)'">
                </div>
                <div *ngIf="sensor?.sensor?.type === 'switcher'"
                     (click)="switchSensor(sensor?.sensor)">
                    <div class="sensor__switcher"
                         [style.background-image]="switcherImageUrl(sensor?.sensor)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
