.sensor-widget_statistic-button {
    position: relative;
    display: block;
    float: left;
    cursor: pointer;
    width: 24px;
    height: 26px;
    margin-top: 1px;
    background-color: #dedede;
    background-image: url(../assets/statistic.svg);

    &:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }
}
