$grey: #929292;
$success: #A3C844;

.home-nav {
    overflow: auto;

    &__logo {
        display: inline-block;
        font-weight: bold;
        text-transform: capitalize;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        margin: 10px 0;
        vertical-align: bottom;
    }

    &__actions {
        float: right;

        .button {
            margin: 10px 0 10px 5px;
            width: auto;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 2px;
        }

        .button_default {
            background-color: $grey;
        }

        .button_success {
            background-color: $success;
            border-color: $success;
        }

        .home-nav__view-toggle {
            display: inline-block;
            vertical-align: bottom;
        }
    }
}


.toggle {
    font-size: 0.8em;
    font-weight: 500;

    &__item {
        height: 10px;
        line-height: 10px;
        display: inline-block;
        padding: 0 5px;
        border-right: 1px solid #d1d1d1;
        color: #d1d1d1;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        &_active {
            color: #000000;
            cursor: default;

            &:hover {
                text-decoration: none;
            }
        }

        &_disabled {
            cursor: default;

            &:hover {
                text-decoration: none;
            }
        }

        &:last-child {
            border-right: none;
        }
    }
}

.home-view {
    position: relative;
    background: #f9f9f9;
    border: solid 1px #c7c8c2;

    &_empty {
        height: 400px;
    }

    &__empty-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
        color: #6b6b6b;
    }

    &__create-view {
        color: #a3c940;
    }
}
