<div class="row">
    <div class="input-field col s6">
        <input id="scenario_name" type="text" placeholder="Enter descriptive scenario name"
               required
               [(ngModel)]="scenario.name"/>
        <label for="scenario_name">Scenario name:</label>
    </div>
</div>

<div class="row">
    <div class="col">
        <h5>
            If
            <select name="logicalOperator"
                    class="operators-select"
                    [(ngModel)]="scenario.wizard.logicalOperator">
                <option *ngFor="#operator of LOGICAL_OPERATORS"
                        [value]="operator.id">{{operator.name}}
                </option>
            </select>
            of the conditions are true
        </h5>

    </div>
</div>
<div class="row gray-bg" *ngFor="#condition of scenario.wizard.conditions; #i=index">
    <div class="col s3">
        <span>Device</span>
        <select [(ngModel)]="condition.selectedDevice" required name="deviceSelect">
            <option [value]="undefined">Choose trigger</option>
            <option *ngFor="#device of condition.devices"
                    [value]="device.mqttId">{{device.description}}
            </option>
        </select>
    </div>
    <div class="col s4">
        <span>Condition</span>
        <select [(ngModel)]="condition.selectedCondition">
            <option [value]="undefined">Choose condition</option>
            <option *ngFor="#condition of condition.conditions" [value]="condition.id">{{condition.name}}</option>
        </select>
    </div>
    <div class="col s3">
        <span>Value</span>
        <input type="text"
               placeholder="Enter value"
               required
               [(ngModel)]="condition.value"
               placeholder="Enter value"/>
    </div>
    <div class="col s1" *ngIf="scenario.wizard.conditions.length>1">
        <div>
            <i class="material-icons center"
               (click)="removeCriteria(i)"
            >delete</i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <a (click)="addCriteria()">+ ADD CRITERIA</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <h5>Then do the following</h5>
    </div>
</div>
<div class="row gray-bg" *ngFor="#action of scenario.wizard.actions; #i=index">
    <div class="col s3">
        <span>Device</span>
        <select [(ngModel)]="action.selectedDevice">
            <option [value]="undefined">Choose device</option>
            <option *ngFor="#device of action.devices"
                    [value]="device.mqttId">{{device.description}}
            </option>
        </select>
    </div>
    <div class="col s3">
        <span>Value</span>
        <select name="actionValue"
                [(ngModel)]="action.value">
            <option *ngFor="#value of action.values"
                    [value]="value.id">{{value.name}}
            </option>
        </select>
    </div>
    <div class="col s1"
         *ngIf="removeActionBtnVisible()">
        <div>
            <i (click)="removeAction(i)" class="material-icons center">delete</i>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <a (click)="addAction()">+ ADD ACTION</a>
    </div>
</div>
